body {
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
main{
  background-color:pink;
  height: 70vh;
}
a {
  color: #00B7FF;
}
h1{
  text-align: center;
  color:red
}
p{
  text-align: center;
}